services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql

  ghost:
    image: ghost:5-alpine
    restart: always
    ports:
      - 8080:2368
    environment:
    
      database__client: mysql
      database__connection__host: db
      database__connection__user: ${DB_USER} 
      database__connection__password: ${DB_PASSWORD}
      database__connection__database: ${DB_NAME}
     
      url: ${GHOST_URL}
    depends_on:
      - db
    volumes:
      - ghost_data:/var/lib/ghost/content
volumes:
  db_data:
  ghost_data:
